@model IEnumerable<BookStore.Domain.Domain.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="display-5 text-center" style="color:#1A4D2E">Books</h1>
<hr class="border-3 rounded-3 mx-auto" style="width:200px"/>

<div class="row mx-auto w-75 mx-auto row-cols-1 row-cols-md-3 mb-5 g-4">
 @foreach(var item in Model){
        <div class="col my-4 ">
            <div class="card  h-100 " style="width: 17rem;">
                <img src="@item.Image" class="card-img-top " style="height:65%"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">Author: <a asp-controller="Author" class="text-dark fw-bolder" asp-action="Details" asp-route-id="@item.Author.Id">@item.Author.Name</a></p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Book" class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-controller="Book" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Book" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>

 }

</div>
<a asp-controller="Book" class="btn mx-auto d-block w-25 my-3 btn-success" asp-action="Create">Create New</a>
